.unsereLeistungen {
  &__h1 {
    color: white;
    color: $gray;
    font-family: $font-2;
    // font-size: 4rem;
    font-size: 5rem;
    font-weight: 600;
  }

  &__h2 {
    color: $gray;
    font-family: $font-2;
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 1.4;
    text-align: center;
  }

  &__rightside &__h2 {
    color: white;
  }

  &__box {
    &--h3 {
      color: $gray;
      font-family: $font-1;
      font-size: 3rem;
      font-weight: 400;
    }

    &--p {
      color: $gray;
      font-family: $font-3;
      font-size: 1.7rem;
      font-weight: 400;
      line-height: 1.5;
    }
  }

  &__h3 {
    color: white;
    font-family: $font-1;
    font-size: 3rem;
    font-weight: 400;

    &:nth-child(3) {
      color: white;
    }

    &:nth-child(5) {
      color: white;
    }
  }

  &__h4 {
    // color: $gray;
    // color: $color-primary2;
    color: white;
    font-family: $font-3;
    font-size: 2.3rem;
    line-height: 1.2;
    font-weight: 300;
  }

  &__p {
    color: white;
    font-family: $font-3;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.5;
  }

  &__li {
    list-style-type: none;
    // color: $gray;
    color: white;
    font-family: $font-3;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.5;

    i {
      // color: $color-primary3;
      color: white;
      // color: $color-green;
    }
  }
}
