.impressum {
  display: flex;
  flex-direction: column;
  max-width: 120rem;
  width: 100%;
  align-self: center;
  padding: 20rem 0;

  //   outline: 1px solid red;

  &__h3 {
    padding: 4rem 0 0 0;
  }

  &__p {
    padding: 1rem 0 0 0;
  }

  &__h4 {
    padding: 4rem 0 0 0;
  }
}
