.offer {
  &__h1 {
    color: white;
    font-family: $font-2;
    // font-size: 4rem;
    font-size: 5rem;
    font-weight: 600;
  }

  &__h2 {
    color: $gray;
    font-family: $font-1;
    font-size: 4rem;
    font-weight: 700;
    // line-height: 1.2;
  }

  &__p {
    color: $gray;
    font-family: $font-2;
    font-size: 1.9rem;
  }

  &__h3 {
    color: $gray;
    font-family: $font-1;
    font-size: 2.3rem;
    font-weight: 600;
  }

  &__li {
    list-style-type: none;
    color: $gray;
    font-family: $font-1;
    font-size: 2rem;
  }

  &__label {
    color: $gray;
    font-family: $font-2;
    font-size: 1.7rem;
  }

  &__btn {
    color: white;
    font-family: $font-2;
    font-size: 1.9rem;
  }
}
