.header {
  &__nav {
    &--li {
      a {
        font-size: 1.7rem;
        font-family: $font-1;
        color: $gray;
        text-decoration: none;
        font-weight: 400;
        text-align: center;
      }
    }
  }
}
